body {
  min-height: 100vh;
  font-family: monospace;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

a i {
  color: black;
}
