body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: sans-serif;
}

h1, h2 { margin: 10px; }

form { margin-top: 10px; }

img { width: 150px; }

h3 { font-family: monospace; }

h2 {
  font-size: 3em;
}
