body {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

button {
  font-size: 1.5em;
  width: 20%;
}
