p {
  font-family: monospace;
  align-self: end;
  margin-right: 10px;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 2em;
}

button {
  font-size: 2em;
  width: 150px;
}
