body {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.board {
  display: grid;
  gap: 5px;
  width: 300px;
  height: 300px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
